/*Add dark mode, light mode themes, padding and various text features*/
class .darkMode {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 200px;
  height: 200px;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
}
.inv {
  display: none;
}
class .dropdown {
  border: 3px;
}
