:root {
  --back: aliceblue;
  --fore: rgb(172, 169, 169);
  --color: black;
  --primary: #0175fe;
}

html {
  width: 100%;
}

body {
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--back);
  color: var(--color);
}

header {
  background-color: var(--fore);
  color: var(--color);
  border: 1px solid rgb(31, 25, 25);
  display: flex;
  position: sticky;
  display: flex;
  flex-direction: row;
  gap: 5px 5px;
  justify-content: flex-start;
  align-items: baseline;
  align-content: center;
  border-radius: 5px;
  padding: 1%;
}

.logo {
  float: left;
  align-self: center;
  padding-right: 1%;
}

.nav-links {
  float: left;
  color: var(--color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-style: hidden;
  border-width: 1px;
  border-radius: 5px;
  user-select: none;
}

.nav-links:hover {
  background-color: black;
  color: white;
}

.nav-active-link {
  background-color: black;
  color: white;
}

.active:hover {
  background-color: rgb(194, 191, 191);
}
.tab {
  display: none;
}

.active-tab {
  display: block;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1%;
  margin-top: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #9a9b9e;
  border-radius: 5px;
  transition: background-color 0.4s;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Range slider containers*/
.range-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.range-value {
  margin-left: 1%;
  margin-right: 3px;
}
.slider {
  -webkit-appearance: none;
  width: 15%;
  height: 15px;
  background: whitesmoke;
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 20px;
  border: 1px solid #9a9b9e;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--primary);
  cursor: pointer;
  border-radius: 20px;
}
