:root {
  --back: aliceblue;
  --fore: rgb(172, 169, 169);
  --color: black;
}
body {
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--back);
  color: var(--color);
}

.header {
  background-color: var(--fore);
  color: var(--color);
  border: 2px solid white;
  width: 100%;
  display: flex;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.header__nav {
  background-color: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px 5px;
}

.header__nav-links {
  float: left;
  color: var(--color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-style: hidden;
  border-width: 1px;
  border-radius: 5px;
}

.header__nav-links:hover {
  background-color: black;
  color: white;
}

.header__nav--active-page {
  background-color: black;
  color: white;
}

.dropdown {
  background-color: var(--fore);
  color: inherit;
  border: 1.5px solid white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-width: 1px;
  border-radius: 10px;
}

.active:hover {
  background-color: rgb(194, 191, 191);
}
.dropdown:hover {
  background-color: rgb(194, 191, 191);
}

.dropdown__panel {
  background-color: var(--fore);
  color: inherit;
  padding: 0px 0px 20px 20px;
  display: none;
  overflow: hidden;
}
.dropdown__arrow {
  background-color: inherit;
  color: inherit;
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 5px;
}

.dropdown__arrow--down {
  background-color: inherit;
  color: inherit;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
