/*NOTE: Because this CSS is inserted directly into webpages
  it is crtical to append "copythat-toolbar" to all
  classes. As such, try to shorten words, such as button
  to btn.*/
.copythat-toolbar-base {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 20%;
  background-color: whitesmoke;
  color: black;
  border: 0.2px solid transparent;
  border-radius: 5px 5px 0px 0px;
  bottom: 0;
  left: 0;
  /*Excessive, but necessary as it should be 
  on top of all other elemts on the page*/
  z-index: 100000000000;
  justify-content: space-around;
  align-items: center;
  opacity: 0.9;
  transition: opacity 2s;
}

.copythat-toolbar-base:hover {
  opacity: 1;
}

.copythat-toolbar-base-minimized {
  position: fixed;
  width: 100%;
  height: 7%;
  color: white;
  background-color: rgb(36, 36, 36);
  border: 0.2px solid transparent;
  border-radius: 5px 5px 0px 0px;
  bottom: 0;
  left: 0;
  z-index: 100000000000;
  opacity: 0.8;
  transition: opacity 2s;
}

.copythat-toolbar-base-minimized:hover {
  opacity: 1;
}

.copythat-toolbar-copy-btn-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

.copythat-toolbar-btn-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}

.copythat-toolbar-hidden-btn-box {
  display: none;
}

.copythat-toolbar-toggled-btn-box {
  display: flex;
  flex-direction: column;
  max-height: 150px;
  overflow-y: auto;
}

.copythat-toolbar-select-form {
  display: inline-block;
  width: 100%;
  height: 25%;
  background-color: inherit !important;
  color: inherit;

  /* styling */
  border: 2px solid rgb(146, 146, 146);
  border-radius: 0.3rem;
  display: inline-block;
  font: inherit;

  margin: 3px;
  padding: 0.5em 3.5em 0.5em 1em;
  outline: none;
  line-height: 1.5em;
  text-align: center;
  opacity: 0.8;
  transition: opacity 1s;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

.copythat-toolbar-select-form:hover {
  opacity: 1;
}

/*Horrible wayt to set bgcolor and color
  but the only way to do so*/
.dark-mode-page .copythat-toolbar-select-form {
  background-color: #1a1e24;
}

.copythat-toolbar-recently-used {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.copythat-toolbar-btn {
  background-color: inherit;
  color: inherit;
  display: inline-block;
  border: 1.5px solid white;
  border-radius: 0.3rem;
  margin: 10px;
  padding: 7px;
}

/*All the buttons that copy to clipboard*/
.copythat-toolbar-copy-btn {
  background-color: inherit;
  color: inherit;
  min-width: 30px;
  min-height: 30px;
  border: 1.5px solid white;
  border-radius: 0.3rem;
  margin: 5px;
  font-size: 17px;
  opacity: 0.9;
  transition: opactity 2s;
}

.copythat-toolbar-copy-btn:hover {
  opacity: 1;
}
