/*Add dark mode, light mode themes, padding and various text features*/
.darkMode {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
  min-width: 250px;
  max-height: 250px;
}
.inv {
  display: none;
  overflow-y: scroll;
  height: 100%;
}
.dropdown {
  border: 3px;
}
.copyButton {
  margin-top: 5px;
  margin-right: 10px;
}
/*Action buttons are buttons that do stuff, such as opening a page*/
.actionButton {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.headerContainer {
  display: flex;
  flex-direction: row;
}
/*Our logo image on the popup*/
.logoImg {
  margin-top: 10px;
  height: 35px;
  width: 35px;
}
/*Select Form*/
.selectionForm {
  display: inline-table;
  vertical-align: top;
}
