body {
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 250px;
  max-height: 250px;
  background-color: aliceblue;
  padding: 1%;
}
.dark__mode {
  background-color: #0d1117;
}
.recently-used {
  display: flex;
  flex-direction: column;
}
.recently-used__title {
  font-size: 16px;
  margin: 1%;
  margin-left: none;
}
.button {
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 7px;
}
/*All the buttons that copy to clipboard*/
.button--copy {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  min-width: 30px;
  min-height: 20px;
}
.dark__mode .button--copy {
  background-color: #1a1e24;
  color: #c7cfd6;
}
/*potential removal*/
.button__list--copy {
  max-height: 100px;
  overflow-y: auto;
}
/*Each div for the copy buttons*/
.button__list--div {
  display: none;
}
/*Action buttons are buttons that do stuff, such as opening a page*/
.button--action {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 0px;
}
/*The instructions and the logo image container*/
.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}
/*Select Form*/
.header-select-form {
  display: inline-table;
  background-color: white;
  margin-top: 10px;
  margin-right: 10px;
  width: 100%;
  height: 10%;
  outline: none;
  border: 2px solid rgb(146, 146, 146);
  border-radius: 5px;
  /*For some weird reason padding fails 
  to work without !important property*/
  padding: 3% !important;
}
.dark__mode .header-select-form {
  background-color: #1a1e24;
}
.header-select-form:hover {
  background-color: whitesmoke;
}
.header-select-form__arrow {
  display: inline-block;
  padding: 3px;
}
